// Semantic UI breakpoints
$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

// General nav
nav {
    margin-bottom: 40px !important;
}

// Desktop nav
.ui.fixed.main.menu .right.menu > .item:last-of-type {
    border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

// Mobile nav
nav .mobile.only.row {
    .ui.vertical.menu {
        margin-top: 40px;
        display: none;
    }
}

// Flashes
.flashes > .ui.message:last-of-type {
    margin-bottom: 2rem;
}

// Tables
table.selectable tr:hover {
    cursor: pointer !important;
}

// body {
// 	background: #030939;
// 	color: #F5FEFE;
// }

body {
	background: #030939;
	color: #F5FEFE;
}

.header.inverted, hr.inverted {
	// color: inherit !important;
	color: #F5FEFE !important;
}

.button {
	color: #080001 !important;
	background-color: #a6e4d7 !important;
	border-radius: 1.5rem !important;
}

.primary.button {
	margin-left: 1rem;
	margin-right: 1rem;
}

div.white {
	background-color: white;
}
