{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui text container">
	<h3>Oral History -- {{ oral_hist.full_name}}</h3>
	<button class="article__ann-counter"
		data-hypothesis-trigger
		title="Open annotation sidebar">
		<span data-hypothesis-annotation-count>...</span>
		
	</button>
	
	{% for paragraph in data %}
	<p>{{ paragraph }}</p>
	{% endfor %}
</div>

  <script>
    {% autoescape false %}
      var hypothesisApiUrl = "{{ hypothesis_api_url }}";
    {% endautoescape %}
    {% if hypothesis_grant_token %}
      var hypothesisGrantToken = "{{ hypothesis_grant_token }}";
			console.log(hypothesisGrantToken);
    {% else %}
      var hypothesisGrantToken = null;
    {% endif %}
  </script>
<script src="{{ url_for('static', filename='hypothesisConfig.js') }}" async></script>
<script src="{{ service_url }}/embed.js" async></script>
{% endblock %}
