{% extends 'main/base_main.html' %}

{% block main_header %}
	<div class="ui sixteen wide column">
		<div class="ui large inverted header">Welcome to the Community History Platform</div>
		<hr class="inverted">
		<div class="ui huge inverted header">The Origins of Biotech</div>
	</div>
{% endblock main_header %}

{% block main_content %}
<div class="row">
	<div class="ui eight wide column">
		<a href="{{ url_for('main.histories') }}">
			<img class="ui centered image" src="{{ url_for('static', filename='images/btn_oral_histories.jpg') }}" alt="Click here to browse the oral histories"/>
		</a>
	</div>
	<div class="ui eight wide column">
		<a href="{{ url_for('main.histories') }}">
			<img class="ui centered image" src="{{ url_for('static', filename='images/btn_media_viewer.jpg') }}" alt="Click here to browse media objects"/>
		</a>
	</div>
</div>
{% endblock main_content %}

