{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}


{% block content %}
    <div class="ui stackable grid container">
		{{ f.render_form(form, extra_classes='name_select_form') }}
        <div class="sixteen wide tablet twelve wide computer centered column">
            <h2 class="ui header">
                Oral Histories
                <div class="sub header">
                    Select an oral history to view the transcript and annotations.
                </div>
            </h2>

            <div class="ui menu">
                <div class="ui search item">
                    <div class="ui transparent icon input">
                        <input id="search-oral-histories" type="text" placeholder="Search…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table id="oral-histories-table" class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>Interviewee</th>
                            <th>Filename</th>
														<th>Mentions of {{ entity.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for oral_hist in data %}
										{% if mentions_data[oral_hist.id] %}
											
                        <tr data-id="{{ oral_hist.id }}" onclick="window.location.href = '{{ url_for('main.histories', hist_id=oral_hist.id, mark=entity.name) }}';">

                            <td>{{ oral_hist.full_name }}</td>
                            <td>{{ oral_hist.fname_base }}</td>
                            <td>{{ mentions_data[oral_hist.id] }}</td>
														
														
                        </tr>
										{% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

			var entity_id = "{{ entity.id }}";
			var $select = $('.name_select_form select');
			// $select.val("153");
			// The above doesn't seem to work with Semantic UI. Do this instead:
			$select.dropdown('set selected', entity_id);

			// automatically submit when the selection changes
			$select.change(function() {
				// $(this).closest('form').trigger('submit');
				$(this).closest('form').submit();
			});

            $('#search-oral-histories').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });


        });

    </script>
{% endblock %}
